
pre,
code {
  --code-text: var(--text);
  --code-slate-gray: slategray;
  --code-gray: #999;
  --code-purple: #8a47f5;
  --code-blue: rgb(16, 163, 207);
  --code-green: #34c982;
  --code-background: rgb(248, 248, 250);
}

@media (prefers-color-scheme: dark) {
  pre,
  code {
    --code-text: var(--text);
    --code-slate-gray: slategray;
    --code-gray: #999;
    --code-purple: #9166ff;
    --code-blue: #24c1f0;
    --code-green: #5fe3b9;
    --code-background: rgb(12, 12, 26);
  }
}

pre,
code {
  color: var(--code-text);
  background-color: var(--code-background);
  font-family: monospace;
  font-size: 14px;
  text-align: left;
  white-space: pre;
  line-height: 1.5;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  border-radius: 0.3em;

  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

code::-moz-selection {
  text-shadow: none;
}

code::selection {
  text-shadow: none;
}

@media print {
  code {
    text-shadow: none;
  }
}

pre {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code {
  color: var(--code-purple);
  white-space: normal;
  margin: 0 -1px;
  padding: 0.25em 0.4em;
  border: 1px solid transparent;
}

a:not(pre) > code:hover {
  border: 1px dotted var(--accent)
}

.hljs-comment,
.hljs-string {
  color: var(--code-slate-gray);
}

.hljs-tag,
.hljs-punctuation {
  color: var(--code-gray);
}

.hljs-title {
  color: var(--code-blue);
}

.hljs-name,
.hljs-keyword {
  color: var(--code-purple);
}

.hljs-attr {
  color: var(--code-blue);
}

.hljs-tag > .hljs-string {
  color: var(--code-green);
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-operator,
.hljs-selector-pseudo {
  color: var(--code-green);
}