* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --text: #000;
  --background: #fff;
  --selection: #e6e6fa;
  --mark: #e6e6fa;
  --accent: #8869f6;
  --line: #e8e3f1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #fff;
    --background: #000;
    --selection: #9494e3;
    --mark: #34216e;
    --accent: #8869f6;
    --line: #424464;
  }
}

::selection {
  background-color: var(--selection);
}

::-moz-selection {
  background-color: var(--selection);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--line);
  border-radius: 2px;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'system-ui', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  letter-spacing: 0.2px;
  color: var(--text);
  background-color: var(--background);
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
}

article > h1 {
  font-size: 2em;
}

a {
  text-decoration: none;
  padding-bottom: 0.1em;
  border-bottom: 1px dotted var(--accent);
}

a:link,
a:visited {
  color: var(--text);
}

blockquote {
  border-left: 2px solid var(--line);
  margin: 1em;
}

blockquote p {
  padding: 0 1em;
}

hr {
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px dashed var(--line);
}

footer {
  border-top: 1px solid var(--line);
  font-size: small;
  text-align: center;
  padding: 1em 1em 1.75em;
}

@media (min-width: 990px) {
  footer {
    padding: 0.5em 0.5em 1em;
  }
}

footer > p {
  margin: 0 auto;
}

.button {
  border: 1px solid var(--line);
  width: fit-content;
  padding: 0.25em 1em;
  margin: 1em 1em 0.5em 1em;
  cursor: pointer;
}

.button:hover {
  filter: brightness(110%) saturate(110%);
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary {
  outline: none;
}

table, th, td {
  border: 1px solid var(--line);
  border-collapse: collapse;
}

th, td {
  padding: 0.25em 0.5em;
}

mark {
  color: inherit;
  background-color: var(--mark);
  padding: 0.2em;
  border-radius: 0.1em;
}

.hidden {
  display: none;
}
